html {
    font-family: 'Trebuchet MS';
    font-size: medium;
}



.single-item {
    max-width: 98%;
    padding: 80px 5px 10px 5px;
}       

.main {
    display: flex;
    justify-content: center;
    background-color: blue;
}