<footer>
    <section class="footerLogo">
        <img src="/img/logos/libreriaPalasRedondo.png" alt="Librería Palas logo">
    </section>
    <section class="footerText">
        <article class="data">
            <h3>Información de la tienda</h3>
            <ul>
                <li>Locales</li>
                <li>Franquicias</li>
                <li>Políticas de privacidad</li>
            </ul>
        </article>
        <article class="contact">
            <h3>Contactanos</h3>
            <ul>
                <li>Trabajar con nosotros</li>
                <li>Envíanos un mensaje</li>
            </ul>
        </article>
        <article class="socialLinks">
            <h3>Redes sociales</h3>
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-linkedin"></i></li>
            </ul>
        </article>
    </section>
</footer>