<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería Palas - Home</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
</head>
<body>
    <header>
        <section id="headerTop">
            <a class="logoNav" href="/views/home.html"><img src="../public/img/logos/LibreriaPalas.png" alt="Librería Palas logo"></a>
            <form id="searchbar" onsubmit="event.preventDefault();" role="search">
                <label id="searchlabel" for="search">Search for stuff</label>
                <input id="search" type="search" placeholder="Buscar..."required />
                <button id="searchbtn" type="submit">Go</button>    
            </form>
            <button type="button">Registarme</button>
            <button type="button">Iniciar sesión</button>
            <button type="button">Carrito</button>
        </section>
        <section id="headerBottom">
            <div class="hamburger">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>
            <nav class="menuppal">
                <ul>
                  <li><a href="#">Catálogo</a></li>
                  <li><a href="#">Sucursales</a></li>
                  <li><a href="#">Contacto</a></li>
                </ul>   
            </nav>
        </section>
    </header>
    <main class="main">
        <div class="single-item">
            <div class="bannerHP"><img class="bannerHPimg" src="../public/img/banners/HP1B.png" alt="Harry Potter y la piedra filosofal"></div>
            <div class="bannerHP"><img class="bannerHPimg" src="../public/img/banners/HP2B.png" alt="Harry Potter y la cámara secreta"></div>
            <div class="bannerHP"><img class="bannerHPimg" src="../public/img/banners/HP3B.png" alt="Harry Potter y el prisionero de Azkaban"></div>
          </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
    <script src="../public/js/home.js"></script>
</body>
</html>