<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería Palas - Home</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script src="https://kit.fontawesome.com/073e576f16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="shortcut icon" href="../public/img/logos/LP.png" type="jpg">
</head>
<body>
    <header>
        <section id="headerTop">
            <div class="hamburger">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>
            <a class="logoNav" href="/views/home.html"><img src="../public/img/logos/LibreriaPalas.png" alt="Librería Palas logo"></a>
            <div id="headerSearchBar">
                <form id="searchbar" onsubmit="event.preventDefault();" role="search">
                    <label id="searchlabel" for="search">Search for stuff</label>
                    <input id="search" type="search" placeholder="Buscar..."/>
                    <button id="searchbtn" type="submit">Buscar</button>    
                </form>
            </div>
            <div id="navbtnsDesktop">
                <button type="button" class="headerbtn signUpbtn" onclick="location.href='/views/signUp.html'">
                    <i class="fa-solid fa-circle-user"></i>Registarme
                </button>
                <button type="button" class="headerbtn shoppingbtn" onclick="location.href='/views/shoppingCart.html'">
                    <i class="fa-solid fa-cart-shopping"></i>Ver carrito
                </button>
            </div>
            <div id="navbtns">
                <button type="button" class="headerbtn signUpbtn" onclick="location.href='/views/signUp.html'">
                    <i class="fa-solid fa-circle-user"></i>
                </button>
                <button type="button" class="headerbtn shoppingbtn" onclick="location.href='/views/shoppingCart.html'">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </section>
        <section id="headerBottom">
            <nav class="menuppal">
                <ul>
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="#">Sucursales</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>   
            </nav>
        </section>
    </header>
    <main>
        <div class="single-item">
            <div class="bannerHP"><img class="bannerHPimg" src="../public/img/banners/HP1B.png" alt="Harry Potter y la piedra filosofal"></div>
            <div class="bannerHP"><img class="bannerHPimg" src="../public/img/banners/HP2B.png" alt="Harry Potter y la cámara secreta"></div>
            <div class="bannerHP"><img class="bannerHPimg" src="../public/img/banners/HP3B.png" alt="Harry Potter y el prisionero de Azkaban"></div>
          </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
    <script src="../public/js/home.js"></script>
    <script src="../public/js/header.js"></script>
</body>
</html>