<!DOCTYPE html>
<html lang="esp">
<%- include('./partials/head.ejs',{stylesheet: 'home', title: 'Home'}) %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="bannerPrincipal">
            <div class="bannerHP"><a href="./products/id/1"><img class="bannerHPimg" src="./img/banners/HP1B.png" alt="Harry Potter y la piedra filosofal"></a></div>
            <div class="bannerHP"><a href="./products/id/2"><img class="bannerHPimg" src="./img/banners/HP2B.png" alt="Harry Potter y la cámara secreta"></a></div>
            <div class="bannerHP"><a href="./products/id/3"><img class="bannerHPimg" src="./img/banners/HP3B.png" alt="Harry Potter y el prisionero de Azkaban"></a></div>
            <div class="bannerHP"><a href="./products/id/4"><img class="bannerHPimg" src="./img/banners/HP4B.png" alt="Harry Potter y el cáliz de fuego"></a></div>
            <div class="bannerHP"><a href="./products/id/5"><img class="bannerHPimg" src="./img/banners/HP5B.png" alt="Harry Potter y la orden del fénix"></a></div>
            <div class="bannerHP"><a href="./products/id/6"><img class="bannerHPimg" src="./img/banners/HP6B.png" alt="Harry Potter y el misterio del príncipe"></a></div>
            <div class="bannerHP"><a href="./products/id/7"><img class="bannerHPimg" src="./img/banners/HP7B.png" alt="Harry Potter y las reliquias de la muerte"></a></div>
        </section>
        <section class="news">
            <h2>Novedades</h2>
            <article class="carrouselNews">
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/1">
                            <img src="./img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./products/id/1" class="title"><h3>Harry Potter y la Piedra Filosofal</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/2">
                            <img src="./img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./products/id/2" class="title"><h3>Harry Potter y la Cámara Secreta</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/3">
                            <img src="./img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./products/id/3" class="title"><h3>Harry Potter y el Prisionero de Azkaban</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/4">
                            <img src="./img/portadas/calizFuego.jpg" alt="Harry Potter y el caliz de fuego">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./products/id/4" class="title"><h3>Harry Potter y el Cáliz de Fuego</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/5">
                            <img src="./img/portadas/ordenFenix.jpg" alt="Harry Potter y la orden del fenix">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./products/id/5" class="title"><h3>Harry Potter y la Orden del Fénix</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/6">
                            <img src="./img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./products/id/6" class="title"><h3>Harry Potter y el Misterio del Príncipe</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/7">
                            <img src="./img/portadas/reliquiasMuerte.webp" alt="Harry Potter y las reliquias de la muerte">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./products/id/7" class="title"><h3>Harry Potter y las Reliquias de la Muerte</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
            </article>
        </section>
        <section class="bestSellers">
            <h2>Los más vendidos</h2>
            <article class="bestSellersBanner">
                <a class="bestSellerImg" href="./products/id/1"><img src="./img/banners/HP1B.png" alt="Harry Potter y la piedra filosofal"></a>
                <a class="bestSellerImg" href="./products/id/2"><img src="./img/banners/HP2B.png" alt="Harry Potter y la camara secreta"></a>
            </article>
            <article class="carrouselBestSellers">
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/1">
                            <img src="./img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <h4 class="ranking">
                            <span>#</span><span class="rankingNumber">1</span><span>ranking en ventas</span>
                        </h4>
                        <a href="./products/id/1" class="title"><h3>Harry Potter y la Piedra Filosofal</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/2">
                            <img src="./img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <h4 class="ranking">
                            <span>#</span><span class="rankingNumber">2</span><span>ranking en ventas</span>
                        </h4>
                        <a href="./products/id/2" class="title"><h3>Harry Potter y la Cámara Secreta</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/3">
                            <img src="./img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <h4 class="ranking">
                            <span>#</span><span class="rankingNumber">3</span><span>ranking en ventas</span>
                        </h4>
                        <a href="./products/id/3" class="title"><h3>Harry Potter y el Prisionero de Azkaban</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/4">
                            <img src="./img/portadas/calizFuego.jpg" alt="Harry Potter y el caliz de fuego">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <h4 class="ranking">
                            <span>#</span><span class="rankingNumber">4</span><span>ranking en ventas</span>
                        </h4>
                        <a href="./products/id/4" class="title"><h3>Harry Potter y el Cáliz de Fuego</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/5">
                            <img src="./img/portadas/ordenFenix.jpg" alt="Harry Potter y la orden del fenix">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <h4 class="ranking">
                            <span>#</span><span class="rankingNumber">5</span><span>ranking en ventas</span>
                        </h4>
                        <a href="./products/id/5" class="title"><h3>Harry Potter y la Orden del Fénix</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/6">
                            <img src="./img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <h4 class="ranking">
                            <span>#</span><span class="rankingNumber">6</span><span>ranking en ventas</span>
                        </h4>
                        <a href="./products/id/6" class="title"><h3>Harry Potter y el Misterio del Príncipe</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./products/id/7">
                            <img src="./img/portadas/reliquiasMuerte.webp" alt="Harry Potter y las reliquias de la muerte">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <h4 class="ranking">
                            <span>#</span><span class="rankingNumber">7</span><span>ranking en ventas</span>
                        </h4>
                        <a href="./products/id/7" class="title"><h3>Harry Potter y las Reliquias de la Muerte</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
            </article>
        </section>
        <section class="recomended">
            <h2>Recomendados</h2>
            <div class="recomendedContainer">
                <article class="carrouselRecomended">
                    <div class="card">
                        <div class="imgContainer">
                            <a class="cardImg" href="./products/id/1">
                                <img src="./img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
                            </a>
                            <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                        </div>
                        <div class="cardBody">
                            <a href="./products/id/1" class="title"><h3>Harry Potter y la Piedra Filosofal</h3></a>
                            <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                            <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgContainer">
                            <a class="cardImg" href="./products/id/2">
                                <img src="./img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta">
                            </a>
                            <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                        </div>
                        <div class="cardBody">
                            <a href="./products/id/2" class="title"><h3>Harry Potter y la Cámara Secreta</h3></a>
                            <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                            <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgContainer">
                            <a class="cardImg" href="./products/id/3">
                                <img src="./img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban">
                            </a>
                            <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                        </div>
                        <div class="cardBody">
                            <a href="./products/id/3" class="title"><h3>Harry Potter y el Prisionero de Azkaban</h3></a>
                            <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                            <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgContainer">
                            <a class="cardImg" href="./products/id/4">
                                <img src="./img/portadas/calizFuego.jpg" alt="Harry Potter y el caliz de fuego">
                            </a>
                            <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                        </div>
                        <div class="cardBody">
                            <a href="./products/id/4" class="title"><h3>Harry Potter y el Cáliz de Fuego</h3></a>
                            <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                            <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgContainer">
                            <a class="cardImg" href="./products/id/5">
                                <img src="./img/portadas/ordenFenix.jpg" alt="Harry Potter y la orden del fenix">
                            </a>
                            <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                        </div>
                        <div class="cardBody">
                            <a href="./products/id/5" class="title"><h3>Harry Potter y la Orden del Fénix</h3></a>
                            <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                            <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgContainer">
                            <a class="cardImg" href="./products/id/6">
                                <img src="./img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
                            </a>
                            <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                        </div>
                        <div class="cardBody">
                            <a href="./products/id/6" class="title"><h3>Harry Potter y el Misterio del Príncipe</h3></a>
                            <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                            <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgContainer">
                            <a class="cardImg" href="./products/id/7">
                                <img src="./img/portadas/reliquiasMuerte.webp" alt="Harry Potter y las reliquias de la muerte">
                            </a>
                            <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                        </div>
                        <div class="cardBody">
                            <a href="./products/id/7" class="title"><h3>Harry Potter y las Reliquias de la Muerte</h3></a>
                            <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                            <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                        </div>
                    </div>
                </article>
                <article class="recomendedWeek">
                    <a href="./products/id/1"><img src="/img/banners/HP1B.png" alt="Harry Potter y la piedra filosofal"></a>
                </article>
            </div>
        </section>
        <section class="categories">
            <h2>Categorias destacadas</h2>
            <div class="categoryContainer">
                <article class="category1">
                    <div class="categoryDesc">
                        <div class="textContainer">
                            <h3>Categoría 1</h3>
                            <h4>Explora nuestro catálogo</h4>
                            <a href="#" class="btn">Ver más</a>
                        </div>
                    </div>
                    <div class="carrouselCategories">
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/1">
                                    <img src="./img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/1" class="title"><h3>Harry Potter y la Piedra Filosofal</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/2">
                                    <img src="./img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/2" class="title"><h3>Harry Potter y la Cámara Secreta</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/3">
                                    <img src="./img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/3" class="title"><h3>Harry Potter y el Prisionero de Azkaban</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/4">
                                    <img src="./img/portadas/calizFuego.jpg" alt="Harry Potter y el caliz de fuego">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/4" class="title"><h3>Harry Potter y el Cáliz de Fuego</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/5">
                                    <img src="./img/portadas/ordenFenix.jpg" alt="Harry Potter y la orden del fenix">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/5" class="title"><h3>Harry Potter y la Orden del Fénix</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/6">
                                    <img src="./img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/6" class="title"><h3>Harry Potter y el Misterio del Príncipe</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/7">
                                    <img src="./img/portadas/reliquiasMuerte.webp" alt="Harry Potter y las reliquias de la muerte">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/7" class="title"><h3>Harry Potter y las Reliquias de la Muerte</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="category2">
                    <div class="categoryDesc">
                        <div class="textContainer">
                            <h3>Categoría 2</h3>
                            <h4>Explora nuestro catálogo</h4>
                            <a href="#" class="btn">Ver más</a>
                        </div>
                    </div>
                    <div class="carrouselCategories">
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/1">
                                    <img src="./img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/1" class="title"><h3>Harry Potter y la Piedra Filosofal</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/2">
                                    <img src="./img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/2" class="title"><h3>Harry Potter y la Cámara Secreta</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/3">
                                    <img src="./img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/3" class="title"><h3>Harry Potter y el Prisionero de Azkaban</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/4">
                                    <img src="./img/portadas/calizFuego.jpg" alt="Harry Potter y el caliz de fuego">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/4" class="title"><h3>Harry Potter y el Cáliz de Fuego</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/5">
                                    <img src="./img/portadas/ordenFenix.jpg" alt="Harry Potter y la orden del fenix">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/5" class="title"><h3>Harry Potter y la Orden del Fénix</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/6">
                                    <img src="./img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/6" class="title"><h3>Harry Potter y el Misterio del Príncipe</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/7">
                                    <img src="./img/portadas/reliquiasMuerte.webp" alt="Harry Potter y las reliquias de la muerte">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/7" class="title"><h3>Harry Potter y las Reliquias de la Muerte</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="category3">
                    <div class="categoryDesc">
                        <div class="textContainer">
                            <h3>Categoría 3</h3>
                            <h4>Explora nuestro catálogo</h4>
                            <a href="#" class="btn">Ver más</a>
                        </div>
                    </div>
                    <div class="carrouselCategories">
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/1">
                                    <img src="./img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/1" class="title"><h3>Harry Potter y la Piedra Filosofal</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/2">
                                    <img src="./img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/2" class="title"><h3>Harry Potter y la Cámara Secreta</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/3">
                                    <img src="./img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/3" class="title"><h3>Harry Potter y el Prisionero de Azkaban</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/4">
                                    <img src="./img/portadas/calizFuego.jpg" alt="Harry Potter y el caliz de fuego">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/4" class="title"><h3>Harry Potter y el Cáliz de Fuego</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/5">
                                    <img src="./img/portadas/ordenFenix.jpg" alt="Harry Potter y la orden del fenix">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/5" class="title"><h3>Harry Potter y la Orden del Fénix</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/6">
                                    <img src="./img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/6" class="title"><h3>Harry Potter y el Misterio del Príncipe</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgContainer">
                                <a class="cardImg" href="./products/id/7">
                                    <img src="./img/portadas/reliquiasMuerte.webp" alt="Harry Potter y las reliquias de la muerte">
                                </a>
                                <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                            </div>
                            <div class="cardBody">
                                <a href="./products/id/7" class="title"><h3>Harry Potter y las Reliquias de la Muerte</h3></a>
                                <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                                <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
    <script src="./js/home.js"></script>
    <script src="./js/header.js"></script>
</body>
</html>