@import "variables.css";

.main {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}


/* Carrusel principal */
.single-item {
    max-width: 98%;
    padding: 80px 5px 10px 5px;
} 

.bannerHPimg {
    max-width: 100%;
    height: auto;
}
/* Carrusel principal end */