@import "variables.css";

main {
    box-sizing: border-box;
    font-family: var(--font--family);
}


/* Carrusel principal */
.bannerPrincipal {
    margin: auto;
    max-width: 90%;
    padding: 10px 5px;
} 

.bannerHP {
    padding: 0 5px;
}

.bannerHPimg {
    max-width: 100%;
    height: auto;
}
/* Carrusel principal end */

/* News  */
.news {
    margin: 40px 5% 0 5%;
}

.news h2 {
    margin: 0;
    padding: 40px 0;
    font-size: 2.5rem;
    text-align: center;
    color: var(--jasper);
}

.carrouselNews {
    display: flex;
    justify-content: center;
}

/* Card */
.card {
    position: relative;
    width: 150px;
    height: auto;
}

.cardImg {
    display: block;
    position: relative;
    max-width: 150px;
    height: auto;
    /* z-index: 10; */
    margin: auto;
}

.cardImg img {
    max-width: 150px;
    height: auto;
}

.addCart {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 15;
    background-color: var(--eggplant);
    color: whitesmoke;
    padding: 7px;
    width: 20px;
    height: 20px;
    font-size: smaller;
    border-radius: 30px;
    visibility: hidden;
    opacity: 0;
    border-width: 0px;
    transition: all 0.3s 0.5s ease-in-out;
}

.card:hover .addCart{
    transform: translateY(-40px);
    opacity: 1;
    visibility: visible;
}

.addCart:active {
    transition: 0s 0s linear;
    background-color: transparent;
    border: solid whitesmoke 1.5px;
}

.cardBody {
    font-size: 0.7rem;
    margin: auto;
    max-width: 150px;
}

.title, .author {
    display: block;
    margin: 0px !important;
    padding: 5px;
    text-decoration: none;
    color: var(--coral);
}

.title {
    font-weight: 700;
}

.author {
    font-weight: 500;
}

.cardBody a h3 {
    margin: 0;
    font-weight: inherit;
}

.price {
    font-weight: 500;
    margin: 0%;
    padding: 10px 0;
}

.price span {
    padding-left: 3px;
}

.ranking {
    margin:5px 2px 0 2px;
    padding: 2px;
    background-color: var(--eggplant);
    border-radius: 30px;
}

.ranking .rankingNumber {
    padding-right: 2px;
}
/* Card end */
@media only screen and (max-width: 1600px) and (orientation: landscape) {
    .bannerPrincipal {
        margin: auto;
        max-width: 98%;
        padding: 10px 5px;
    } 

    .bannerHP {
        padding: 0;
    }

    .news {
        margin: 10px 1% 0 1%;
    }

    .news h2 {
        padding: 20px 0;
    }

    .addCart {
        right: 20px;
        top: 10px;
        visibility: visible;
        transition: none;
        opacity: 1;
    }

    .card:hover .addCart{
        transform: none;
        opacity: 1;
        visibility: visible;
    }
}
/* News end */

/* Best Sellers */
.bestSellers {
    background-color: var(--coral);
    width: 90%;
    margin: 30px auto;
    padding: 20px;
}

.bestSellers h2 {
    display: block;
    margin: 0;
    padding: 20px 30px;
    color: var(--night);
    font-size: 2.5rem;
}

.bestSellersBanner {
    display: flex;   
    gap: 50px;
    justify-content: center;
    padding-bottom: 30px;
}

.bestSellersBanner img {
    max-width: 45%;
}

.bestSellers .carrouselBestSellers .card .cardBody .title {
    color: var(--night);
}

.bestSellers .carrouselBestSellers .card .cardBody .author {
    color: var(--night);
}

.bestSellers .carrouselBestSellers .card .cardBody .price {
    color: whitesmoke;
}

@media only screen and (max-width: 1600px) { 
    .bestSellers h2 {
        padding: 20px 0;
        font-size: 2rem;
        text-align: center;
    }

    .bestSellersBanner {
        flex-direction: column;
        gap: 20px;
    }

    .bestSellersBanner img {
        max-width: 100%;
    }
}