<!DOCTYPE html>
<html lang="esp">
<%- include('../partials/head.ejs', {stylesheet: 'logIn', title: 'Log In'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="logIn">
            <article class="logInImg">
                <h2>Iniciar sesión</h2>
            </article>
            <article class="logInBody">
                <form id="logInForm">
                    <div class="usuario">
                        <label for="username">Usuario</label>
                        <input id="username" type="text" placeholder="Ingresar usuario" name="username" required>
                    </div>
                    <div class="contraseña">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Ingresar contraseña" required>
                    </div>
                    <div class="logInbtns">
                        <div class="rememberMe">
                            <label for="rememberMe">Recuerdame</label>
                            <input type="checkbox" name="rememberMe" id="rememberMe">
                        </div>
                        <div class="forgotPassword">
                            <span>Olvidaste la contraseña?</span>
                        </div>
                    </div>
                    <button class="access" type="submit" form="logInForm">Acceder</button>
                    <div class="logInWith">
                        <span>Ingresa con</span>
                        <div class="accountbtns">
                            <div class="accountbtn"><i class="fa-brands fa-google"></i></div>
                            <div class="accountbtn"><i class="fa-brands fa-facebook"></i></div>
                        </div>
                    </div>
                    <div class="register"><span>¿No tenés una cuenta?</span><span><a href="./signUp">Registrate ahora</a></span></div>
                </form>
            </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
    <script src="/js/header.js"></script>
</body>
</html>