<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería Palas - Home</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script src="https://kit.fontawesome.com/073e576f16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/logIn.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="shortcut icon" href="/img/logos/LP.png" type="jpg">
</head>
<body>
    <header>
        <section id="headerTop">
            <div class="hamburger">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>
            <a class="logoNav" href="/"><img src="/img/logos/LibreriaPalas.png" alt="Librería Palas logo"></a>
            <div id="headerSearchBar">
                <form id="searchbar" onsubmit="event.preventDefault();" role="search">
                    <label id="searchlabel" for="search">Search for stuff</label>
                    <input id="search" type="search" placeholder="Buscar..."/>
                    <button id="searchbtn" type="submit">Buscar</button>    
                </form>
            </div>
            <div id="navbtnsDesktop">
                <button type="button" class="headerbtn signUpbtn" onclick="location.href='./logIn'">
                    <i class="fa-solid fa-circle-user"></i>Log In
                </button>
                <button type="button" class="headerbtn shoppingbtn" onclick="location.href='../products/shoppingCart'">
                    <i class="fa-solid fa-cart-shopping"></i>Ver carrito
                </button>
            </div>
            <div id="navbtns">
                <button type="button" class="headerbtn signUpbtn" onclick="location.href='./logIn'">
                    <i class="fa-solid fa-circle-user"></i>
                </button>
                <button type="button" class="headerbtn shoppingbtn" onclick="location.href='../products/shoppingCart'">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </section>
        <section id="headerBottom">
            <nav class="menuppal">
                <ul>
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="#">Sucursales</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>   
            </nav>
        </section>
    </header>
    <main>
        <section class="logIn">
            <article class="logInImg">
                <h2>Iniciar sesión</h2>
            </article>
            <article class="logInBody">
                <form id="logInForm">
                    <div class="usuario">
                        <label for="username">Usuario</label>
                        <input id="username" type="text" placeholder="Ingresar usuario" name="username" required>
                    </div>
                    <div class="contraseña">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Ingresar contraseña" required>
                    </div>
                    <div class="logInbtns">
                        <div class="rememberMe">
                            <label for="rememberMe">Recuerdame</label>
                            <input type="checkbox" name="rememberMe" id="rememberMe">
                        </div>
                        <div class="forgotPassword">
                            <span>Olvidaste la contraseña?</span>
                        </div>
                    </div>
                    <button class="access" type="submit" form="logInForm">Acceder</button>
                    <div class="logInWith">
                        <span>Ingresa con</span>
                        <div class="accountbtns">
                            <div class="accountbtn"><i class="fa-brands fa-google"></i></div>
                            <div class="accountbtn"><i class="fa-brands fa-facebook"></i></div>
                        </div>
                    </div>
                    <div class="register"><span>¿No tenés una cuenta?</span><span><a href="./signUp">Registrate ahora</a></span></div>
                </form>
            </article>
        </section>
    </main>
    <footer>
        <section class="footerLogo">
            <img src="/img/logos/libreriaPalasRedondo.png" alt="Librería Palas logo">
        </section>
        <section class="footerText">
            <article class="data">
                <h3>Información de la tienda</h3>
                <ul>
                    <li>Locales</li>
                    <li>Franquicias</li>
                    <li>Políticas de privacidad</li>
                </ul>
            </article>
            <article class="contact">
                <h3>Contactanos</h3>
                <ul>
                    <li>Trabajar con nosotros</li>
                    <li>Envíanos un mensaje</li>
                </ul>
            </article>
            <article class="socialLinks">
                <h3>Redes sociales</h3>
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-linkedin"></i></li>
                </ul>
            </article>
        </section>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
    <script src="/js/header.js"></script>
</body>
</html>