<!DOCTYPE html>
<html lang="esp">
<%- include('../partials/head.ejs', {stylesheet: 'productDetail', title: 'Producto 1'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="productDetail">
            <article class="productDetailImg">
                <img src="/img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
            </article>
            <article class="productDetailBody">
                <div class="breadcrumbs">
                    <span>Literatura</span><span>/</span><span>Infantil y Juvenil</span>
                </div>
                <h2 class="productDetailTitle">Harry Potter y la Piedra Filosofal</h2>
                <h3 class="productDetailAuthor">J.K. Rowling</h3>
                <div class="productDetailQuantity">
                    <h4 class="productDetailPrice"><span>AR$</span><span>10.000</span></h4>
                    <div class="selectQuantity">
                        <div class="selectQuantityWarning">
                            <span>Quedan</span><span>#</span><span>disponibles</span>
                        </div>
                        <div class="selectQuantitybtns">
                            <div class="selectQuantitybtn"><i class="fa-solid fa-minus"></i></div><span class="selectQuantityNumber">1</span><div class="selectQuantitybtn"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
                </div>
                <a class="productDetailAddCart" href="../shoppingCart">Agregar al carrito</a>
            </article>
        </section>
        <section class="productDetailDesc">
            <div class="sinopsis">
                <h4>Sinópsis</h4>
                <div>Harry Potter se ha quedado huérfano y vive en casa de sus abominables tíos y del insoportable primo Dudley. Se siente muy triste y solo, hasta que un buen día recibe una carta que cambiará su vida para siempre. En ella le comunican que ha sido aceptado como alumno en el colegio interno Hogwarts de magia y hechicería. A partir de ese momento, la suerte de Harry da un vuelco espectacular. En esa escuela tan especial aprenderá encantamientos, trucos fabulosos y tácticas de defensa contra las malas artes. Se convertirá en el campeón escolar de quidditch, especie de fútbol aéreo que se juega montado sobre escobas, y hará un puñado de buenos amigos… aunque también algunos temibles enemigos. Pero, sobre todo, conocerá los secretos que le permitirán cumplir con su destino. Pues, aunque no lo parezca a primera vista, Harry no es un chico común y corriente. ¡Es un verdadero mago!</div>
            </div>
            <div class="desc">
                <h4>Especificaciones</h4>
                <div>
                    <ul>
                        <li><span>Peso:</span><span>220 g</span></li>
                        <li><span>Idioma:</span><span>Español</span></li>
                        <li><span>Editorial:</span><span class="editorial">SALAMANDRA</span></li>
                        <li><span>Fecha de publicación:</span><span>26/07/1997</span></li>
                        <li><span>Dimensiones:</span><span>12.00cm X 20.00cm X 2.50cm</span></li>
                        <li><span>Número de páginas:</span><span>288</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="mightLike">
            <h2>Te podría interesar</h2>
            <article class="carrouselMightLike">
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./1">
                            <img src="/img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./1" class="title"><h3>Harry Potter y la Piedra Filosofal</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./2">
                            <img src="/img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./2" class="title"><h3>Harry Potter y la Cámara Secreta</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./3">
                            <img src="/img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./3" class="title"><h3>Harry Potter y el Prisionero de Azkaban</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./4">
                            <img src="/img/portadas/calizFuego.jpg" alt="Harry Potter y el caliz de fuego">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./4" class="title"><h3>Harry Potter y el Cáliz de Fuego</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./5">
                            <img src="/img/portadas/ordenFenix.jpg" alt="Harry Potter y la orden del fenix">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./5" class="title"><h3>Harry Potter y la Orden del Fénix</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./6">
                            <img src="/img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./6" class="title"><h3>Harry Potter y el Misterio del Príncipe</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./7">
                            <img src="/img/portadas/reliquiasMuerte.webp" alt="Harry Potter y las reliquias de la muerte">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./7" class="title"><h3>Harry Potter y las Reliquias de la Muerte</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
    <script src="/js/header.js"></script>
    <script src="/js/productDetail.js"></script>
</body>
</html>