<!DOCTYPE html>
<html lang="esp">
<%- include('../partials/head.ejs', {stylesheet: 'productDetail', title: 'Producto 6'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="productDetail">
            <article class="productDetailImg">
                <img src="/img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
            </article>
            <article class="productDetailBody">
                <div class="breadcrumbs">
                    <span>Literatura</span><span>/</span><span>Infantil y Juvenil</span>
                </div>
                <h2 class="productDetailTitle">Harry Potter y el Misterio del Príncipe</h2>
                <h3 class="productDetailAuthor">J.K. Rowling</h3>
                <div class="productDetailQuantity">
                    <h4 class="productDetailPrice"><span>AR$</span><span>10.000</span></h4>
                    <div class="selectQuantity">
                        <div class="selectQuantityWarning">
                            <span>Quedan</span><span>#</span><span>disponibles</span>
                        </div>
                        <div class="selectQuantitybtns">
                            <div class="selectQuantitybtn"><i class="fa-solid fa-minus"></i></div><span class="selectQuantityNumber">1</span><div class="selectQuantitybtn"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
                </div>
                <a class="productDetailAddCart" href="./shoppingCart.html">Agregar al carrito</a>
            </article>
        </section>
        <section class="productDetailDesc">
            <div class="sinopsis">
                <h4>Sinópsis</h4>
                <div>En medio de graves acontecimientos que asolan el país, Harry inicia su sexto curso en Hogwarts. El equipo de quidditch, los exámenes y las chicas lo mantienen ocupado, pero la tranquilidad dura poco. A pesar de los férreos controles de seguridad, dos alumnos son brutalmente atacados. Dumbledore sabe que, tal como se anunciaba en la Profecía, Harry y Voldemort han de enfrentarse a muerte. Así pues, para intentar debilitar al enemigo, el anciano director y el joven mago emprenderán juntos un peligroso viaje con la ayuda de un viejo libro de pociones perteneciente a un misterioso personaje, alguien que se hace llamar Príncipe Mestizo.</div>
            </div>
            <div class="desc">
                <h4>Especificaciones</h4>
                <div>
                    <ul>
                        <li><span>Peso:</span><span>440 g</span></li>
                        <li><span>Idioma:</span><span>Español</span></li>
                        <li><span>Editorial:</span><span class="editorial">SALAMANDRA</span></li>
                        <li><span>Fecha de publicación:</span><span>16/07/2005</span></li>
                        <li><span>Dimensiones:</span><span>12.00cm X 20.00cm X 5.50cm</span></li>
                        <li><span>Número de páginas:</span><span>576</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="mightLike">
            <h2>Te podría interesar</h2>
            <article class="carrouselMightLike">
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./productDetail1.html">
                            <img src="/img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./productDetail1.html" class="title"><h3>Harry Potter y la Piedra Filosofal</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./productDetail2.html">
                            <img src="/img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./productDetail2.html" class="title"><h3>Harry Potter y la Cámara Secreta</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./productDetail3.html">
                            <img src="/img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./productDetail3.html" class="title"><h3>Harry Potter y el Prisionero de Azkaban</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./productDetail4.html">
                            <img src="/img/portadas/calizFuego.jpg" alt="Harry Potter y el caliz de fuego">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./productDetail4.html" class="title"><h3>Harry Potter y el Cáliz de Fuego</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./productDetail5.html">
                            <img src="/img/portadas/ordenFenix.jpg" alt="Harry Potter y la orden del fenix">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./productDetail5.html" class="title"><h3>Harry Potter y la Orden del Fénix</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./productDetail6.html">
                            <img src="/img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./productDetail6.html" class="title"><h3>Harry Potter y el Misterio del Príncipe</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./productDetail7.html">
                            <img src="/img/portadas/reliquiasMuerte.webp" alt="Harry Potter y las reliquias de la muerte">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./productDetail7.html" class="title"><h3>Harry Potter y las Reliquias de la Muerte</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
    <script src="/js/header.js"></script>
    <script src="/js/productDetail.js"></script>
</body>
</html>