<!DOCTYPE html>
<html lang="esp">
<%- include('../partials/head.ejs', {stylesheet: 'shoppingCart', title: 'Carrito de Compras'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="shoppingCart">
            <article class="products">
                <div class="shoppingCartTitle">
                    <h2>Carrito de compras</h2>
                    <div class="productAmount"><span>3</span><span>productos</span></div>
                </div>
                <div class="product">
                    <a href="./id/1"><img class="productImg" src="/img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal"></a>
                    <a href="./id/1" class="productName">Harry Potter y la Piedra Filosofal</a>
                    <div class="selectQuantity">
                        <div class="selectQuantityWarning">
                            <span>Quedan</span><span>#</span><span>disponibles</span>
                        </div>
                        <div class="selectQuantitybtns">
                            <div class="selectQuantitybtn"><i class="fa-solid fa-minus"></i></div><span class="selectQuantityNumber">1</span><div class="selectQuantitybtn"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
                    <div class="productPrice">
                        <span>AR$</span><span class="priceNumber">10.000</span>
                    </div>
                    <div class="eraseProduct">
                        <div class="xmark"><i class="fa-solid fa-xmark"></i></div>
                    </div>
                </div>
                <div class="product">
                    <a href="./id/2"><img class="productImg" src="/img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta"></a>
                    <a href="./id/2" class="productName">Harry Potter y la Cámara Secreta</a>
                    <div class="selectQuantity">
                        <div class="selectQuantityWarning">
                            <span>Quedan</span><span>#</span><span>disponibles</span>
                        </div>
                        <div class="selectQuantitybtns">
                            <div class="selectQuantitybtn"><i class="fa-solid fa-minus"></i></div><span class="selectQuantityNumber">1</span><div class="selectQuantitybtn"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
                    <div class="productPrice">
                        <span>AR$</span><span class="priceNumber">10.000</span>
                    </div>
                    <div class="eraseProduct">
                        <div class="xmark"><i class="fa-solid fa-xmark"></i></div>
                    </div>
                </div>
                <div class="product">
                    <a href="./id/3"><img class="productImg" src="/img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban"></a>
                    <a href="./id/3" class="productName">Harry Potter y el Prisionero de Azkaban</a>
                    <div class="selectQuantity">
                        <div class="selectQuantityWarning">
                            <span>Quedan</span><span>#</span><span>disponibles</span>
                        </div>
                        <div class="selectQuantitybtns">
                            <div class="selectQuantitybtn"><i class="fa-solid fa-minus"></i></div><span class="selectQuantityNumber">1</span><div class="selectQuantitybtn"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
                    <div class="productPrice">
                        <span>AR$</span><span class="priceNumber">10.000</span>
                    </div>
                    <div class="eraseProduct">
                        <div class="xmark"><i class="fa-solid fa-xmark"></i></div>
                    </div>
                </div>
            </article>
            <article class="summary">
                <h3>Resumen</h3>
                <div class="priceSubtotal">
                    <div>Subtotal</div>
                    <div><span>AR$</span><span class="priceNumber">30.000</span></div>
                </div>
                <div class="shipping">
                    <form id="shippingForm">
                        <label for="shippingSelect">Lugar de envío:</label>
                        <select id="shippingSelect" name="shippingList" form="shippingForm" required>
                            <option hidden value="">Selecciona una opcción</option>
                            <option value="CABA">Envío dentro de CABA - Envío gratis</option>
                            <option value="conurbano">Envío dentro del conurbano - AR$ 1.000</option>
                            <option value="Bs As">Envío dentro de la provincia de Buenos Aires -  AR$ 1.500</option>
                            <option value="interior">Envío al interior - AR$ 2.000</option>
                        </select>
                    </form>
                </div>
                <div class="priceTotal">
                    <div>Total</div>
                    <div><span>AR$</span><span class="priceNumber">30.000 + envío</span></div>
                </div>
                <button class="checkout" type="submit" form="shippingForm">Finalizar compra</button>
            </article>
        </section>
        <section class="mightLike">
            <h2>Te podría interesar</h2>
            <article class="carrouselMightLike">
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./id/1">
                            <img src="/img/portadas/piedraFilo.webp" alt="Harry Potter y la piedra filosofal">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./id/1" class="title"><h3>Harry Potter y la Piedra Filosofal</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./id/2">
                            <img src="/img/portadas/camaraSecreta.jpeg" alt="Harry Potter y la camara secreta">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./id/2" class="title"><h3>Harry Potter y la Cámara Secreta</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./id/3">
                            <img src="/img/portadas/prisioneroAzkaban.jpeg" alt="Harry Potter y el prisionero de Azkaban">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./id/3" class="title"><h3>Harry Potter y el Prisionero de Azkaban</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./id/4">
                            <img src="/img/portadas/calizFuego.jpg" alt="Harry Potter y el caliz de fuego">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./id/4" class="title"><h3>Harry Potter y el Cáliz de Fuego</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./id/5">
                            <img src="/img/portadas/ordenFenix.jpg" alt="Harry Potter y la orden del fenix">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./id/5" class="title"><h3>Harry Potter y la Orden del Fénix</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./id/6">
                            <img src="/img/portadas/misterioPrincipe.webp" alt="Harry Potter y el misterio del principe">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./id/6" class="title"><h3>Harry Potter y el Misterio del Príncipe</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="imgContainer">
                        <a class="cardImg" href="./id/7">
                            <img src="/img/portadas/reliquiasMuerte.webp" alt="Harry Potter y las reliquias de la muerte">
                        </a>
                        <div class="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
                    </div>
                    <div class="cardBody">
                        <a href="./id/7" class="title"><h3>Harry Potter y las Reliquias de la Muerte</h3></a>
                        <a href="#" class="author"><h3>J.K. Rowling</h3></a>
                        <h4 class="price"><span>AR$</span><span>10.000,00</span></h4>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
    <script src="/js/header.js"></script>
    <script src="/js/shoppingCart.js"></script>
</body>
</html>